<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/animate.css" />
    <include path="~/Content/jquery-ui.min.css" />
    <include path="~/Content/meanmenu.min.css" />
    <include path="~/Content/font-awesome.min.css" />
    <include path="~/Content/line-awesome.css" />
    <include path="~/Content/flaticon.css" />
    <include path="~/Content/venobox.css" />
    <include path="~/Content/nivo-slider.css" />
    <include path="~/Content/preview.css" />
    <include path="~/Content/owl.carousel.css" />
    <include path="~/Content/style.css" />
    <include path="~/Content/responsive.css" />
  </styleBundle>
  
  <scriptBundle path="~/Scripts/js">
    <include path="~/Scripts/jquery-1.12.0.min.js" />
    <include path="~/Scripts/modernizr-2.8.3.min.js" />
    <include path="~/Scripts/bootstrap.min.js" />
    <include path="~/Scripts/owl.carousel.min.js" />
    <include path="~/Scripts/jquery-ui.min.js" />
    <include path="~/Scripts/jquery.countdown.min.js" />
    <include path="~/Scripts/venobox.min.js" />
    <include path="~/Scripts/jquery.meanmenu.js" />
    <include path="~/Scripts/wow.min.js" />
    <include path="~/Scripts/jquery.scrollUp.min.js" />
    <include path="~/Scripts/plugins.js" />
    <include path="~/Scripts/jquery.nivo.slider.js" />
    <include path="~/Scripts/home.js" />
    <include path="~/Scripts/main.js" />
     
  </scriptBundle>
</bundles>